h1 {
    color: green;
    font-style: italic;
}

.phonebook {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
    list-style-type: none;
    
}

.notify {
    color: red;
    background: lightblue;
    font-size: 20px;
    border-style: double;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
